<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="triangle" class="com.javabrains.dao.Triangle">
<!-- 		<property name="type" value="Equilateral"></property> -->
		
<!-- 		<constructor-arg type="java.lang.String" value="Equilateral"></constructor-arg> -->
<!-- 		<constructor-arg type="int" value="5"></constructor-arg> -->

		<constructor-arg index="0" value="Equilateral"></constructor-arg>
		<constructor-arg index="1" value="5"></constructor-arg>
	</bean>
	
	<bean id="triangle2" class="com.javabrains.dao.Triangle2">
		<property name="pointA" ref="point1"></property>
		<property name="pointB" ref="point2"></property>
		<property name="pointC" ref="point3"></property>
	</bean>
	<bean id="pointA" class="com.javabrains.dao.Point"> 
		<property name="x" value="0"></property>
		<property name="y" value="0"></property>
	</bean>
	<bean id="pointB" class="com.javabrains.dao.Point"> 
		<property name="x" value="15"></property>
		<property name="y" value="15"></property>
	</bean>
	<bean id="pointC" class="com.javabrains.dao.Point"> 
		<property name="x" value="-15"></property>
		<property name="y" value="-15"></property>
	</bean>
</beans>